.section {
    height: 44vw;
    overflow: hidden;
    position: relative;
}

.year {
    font-size: 55vw;
    font-weight: 800;
    letter-spacing: -3vw;
    margin: 0;
    line-height: 0.8;
    padding: 0;
    position: absolute;
    left: 50%;
    color: black;
    transform: translateX(-50%);
    color: #000;
    background: var(--background-color);
    mix-blend-mode: multiply;
}
.year::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #df0315 0%, #ff5e00 100%);
    pointer-events: none;
    mix-blend-mode: screen;
}