:root {
  --default-font: stolzl, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --text-color: #202020;
  --background-color: #fff;
}

html,
body {
  font-family: var(--default-font);
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  overflow: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

a {
  color: #E9055F;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 100%;
}

.svg-inline--fa {
  margin: 0 7px;
}