/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section {
  height: 100vh;
  overflow: auto;
  position: relative;
  max-width: none;
  padding: 0;
  pointer-events: none;
  background: -o-radial-gradient(
    top center,
    ellipse,
    rgb(89, 0, 255),
    rgba(255, 255, 255, 0) 30%
  );
  background: radial-gradient(
    ellipse at top center,
    rgb(89, 0, 255),
    rgba(255, 255, 255, 0) 30%
  );
  background-size: 200%;
  background-position: center;
  -webkit-animation: movebgd ease-in-out 20s infinite alternate;
          animation: movebgd ease-in-out 20s infinite alternate;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}

@-webkit-keyframes movebgd {
  from {
    background-position-x: right;
  }
  to {
    background-position-x: left;
  }
}

@keyframes movebgd {
  from {
    background-position-x: right;
  }
  to {
    background-position-x: left;
  }
}

.heading {
  font-size: 12vw;
  line-height: 0.8;
  font-weight: 800;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  white-space: nowrap;
  text-align: center;
  font-family: "Krisha", Arial, Helvetica, sans-serif;
  font-display: swap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: rgb(132, 66, 255);
  text-shadow: 0 0 10px rgba(132, 66, 255, 0.6);
  -webkit-animation: flicker 2s;
          animation: flicker 2s;
}
.heading span {
  display: block;
}
@media screen and (max-width: 900px) {
  .heading {
    font-size: 16vw;
  }
  .scroller {display: none;}
}
@media screen and (max-width: 768px) {
  .heading {
    line-height: 1.1;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 1px;
    text-shadow: none;
  }
  .section {
    height: 108vh;
  }
}
@-webkit-keyframes flicker {
    0% {opacity: 0;}
    48% {opacity: 0;}
    70% {opacity: 1;}
    80% {opacity: 0.2;}
    87% {opacity: 0.8;}
    95% {opacity: 1;}
}
@keyframes flicker {
    0% {opacity: 0;}
    48% {opacity: 0;}
    70% {opacity: 1;}
    80% {opacity: 0.2;}
    87% {opacity: 0.8;}
    95% {opacity: 1;}
}