.container {
  opacity: 1;
}

.headerLogo {
  height: 40px;
  width: 150px;
  display: inline-block;
  position: relative;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  padding: 10px 20px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.darkHeader .headerLogo img {
  -webkit-filter: invert(0.95);
          filter: invert(0.95);
}
.darkHeader .tag {
  color: rgb(0, 13, 54);
}
.darkHeader .nav ul li a {
  color: rgb(0, 13, 54);
}

.tag {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tag * {
  margin: 0 3px;
}
.tag b {
  font-size: 30px;
  display: inline-block;
  font-weight: inherit;
}

.nav {
  display: inline-block;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
.nav ul li {
  line-height: 1;
  font-size: 22px;
  margin-left: 30px;
  padding: 5px;
  float: right;
}
.nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

.footer {
  position: relative;
  height: 100vh;
}
.footerTitle h4 {
  font-size: 50px;
}