/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.project a {
  color: var(--text-color);
}
.project {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-left: 60px;
  font-family: 'Subjectivity', Arial, Helvetica, sans-serif;
  font-display: swap;
}

.waveHolder {
  height: 50px;
  overflow: hidden;
  width: calc(100% - 120px);
  margin-left: 60px;
  margin-top: 40px;
}
.waveWrapper {
  /* Clip edges, as some of the lines don't terminate nicely. */
  overflow: hidden;
  position: relative;
  width: 130%;
  height: 50px;
  -webkit-animation: roller 1s linear infinite;
          animation: roller 1s linear infinite;
}
.wave {
  position: absolute;
  background: -o-radial-gradient(ellipse, transparent, transparent 6px, white 7px, white 11px, transparent 12px);
  background: radial-gradient(ellipse, transparent, transparent 6px, white 7px, white 11px, transparent 12px);
  background-size: 36px 40px;
  width: 100%;
  height: 20px;
}
.wave2 {
  top: 20px;
  left: 18px;
  background-position: 0px -20px;
}
@-webkit-keyframes roller {
  from {-webkit-transform: translateX(-36px);transform: translateX(-36px);}
  to {-webkit-transform: translateX(-72px);transform: translateX(-72px);}
}
@keyframes roller {
  from {-webkit-transform: translateX(-36px);transform: translateX(-36px);}
  to {-webkit-transform: translateX(-72px);transform: translateX(-72px);}
}

.project div {
  padding: 0;
}
.project .upper h2 {
  font-size: 6vw;
  font-weight: 800;
  font-family: 'Subjectivity', Arial, Helvetica, sans-serif;
  font-display: swap;
  letter-spacing: -0.1vw;
  line-height: 0.9;
  margin: 0;
}
.project .upper p {
  font-size: 1em;
  margin: 0;
  opacity: 0.8;
}
.project .lower {
  position: absolute;
  bottom: 0;
  left: auto;
  max-width: 30vw;
}
.project .lower p {
  margin: 0;
  padding: 0;
  font-size: 2.3vw;
  line-height: 1;
  font-weight: 600;
  display: block;
}
.project .lower p.year {
  font-size: 3.2em;
  opacity: 0.8;
  font-weight: 600;
  margin-top: 15px;
}
.carouselContainer {
  position: relative;
  margin-right: 60px;
}
.carouselImages {
  height: 60vh;
  min-height: 400px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .project {
    margin-left: 5vw;
    height: auto;
  }
  .carouselContainer {
    margin-right: 5vw;
  }
  .waveHolder {
    width: calc(100% - 10vw);
    margin-left: 5vw;
  }
  .carouselImages {
    height: 65vw;
    min-height: 100px;
  }
  .project .upper {
    margin-right: 30px;
  }
  .project .upper h2 {
    font-size: 10vw;
  }
  .project .lower {
    position: relative;
    max-width: unset;
    margin-right: 30px;
  }
  .project .lower p {
    font-size: 6vw;
    margin: 20px 0;
  }
}