.project a {
  color: var(--text-color);
}
.project {
  min-height: 70vh;
  position: relative;
  margin-top: 10vh;
  font-family: 'Subjectivity', Arial, Helvetica, sans-serif;
}

.waveHolder {
  height: 50px;
  overflow: hidden;
  width: calc(100% - 80px);
  margin-left: 35px;
}

.waveWrapper {
  /* Clip edges, as some of the lines don't terminate nicely. */
  overflow: hidden;
  position: relative;
  width: 130%;
  height: 50px;
  animation: roller 1s linear infinite;
}

.wave {
  position: absolute;
  background: radial-gradient(ellipse, transparent, transparent 6px, white 7px, white 11px, transparent 12px);
  background-size: 36px 40px;
  width: 100%;
  height: 20px;
}

.wave2 {
  top: 20px;
  left: 18px;
  background-position: 0px -20px;
}

@keyframes roller {
  from {transform: translateX(-36px);}
  to {transform: translateX(-72px);}
}

.project div {
  padding: 0;
}
.project .upper {
  margin: 45px;
}
.project .upper h2 {
  font-size: 5vw;
  font-weight: 800;
  font-family: 'Subjectivity', Arial, Helvetica, sans-serif;
  letter-spacing: -0.1vw;
  line-height: 0.9;
  margin: 0;
}
.project .upper p {
  font-size: 17px;
  margin: 0;
  opacity: 0.8;
}
.project .lower {
  position: absolute;
  bottom: 0;
  left: auto;
  margin: 45px;
  max-width: 30vw;
}
.project .lower p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
}
.project .lower p b {
  font-size: 60px;
  opacity: 0.8;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}
.imageContainer {
  width: calc(50vw - 90px);
  height: calc(70vh - 90px);
  margin: 30px;
  position: relative;
}
