.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#gameBoard {
  position: relative;
  margin: auto;
}

.snakeBlock {
  position: absolute;
  background-image: -o-radial-gradient(top right, circle, #20bdff, #5433ff 60%);
  background-image: radial-gradient(circle at top right, #20bdff, #5433ff 60%);
  z-index: 1;
}

.appleBlock {
  position: absolute;
  background: yellow;
  /*background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);*/
  background-color: red;
  background-image: -o-radial-gradient(top right, circle, #c0ffdb, #79ffb3 60%);
  background-image: radial-gradient(circle at top right, #c0ffdb, #79ffb3 60%);
  -webkit-box-shadow: 0 0px 20px #79ffb3;
          box-shadow: 0 0px 20px #79ffb3;
  z-index: 1;
}

#gameOver {
  text-align: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#score {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 30px;
  right: 30px;
  text-align: left;
  font-size: 15px;
  line-height: 0;
  z-index: 0;
}

#instructions {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 30px;
  left: 30px;
  text-align: left;
  font-size: 15px;
  line-height: 0;
  z-index: 0;
}

.hideInGame {
  transition: 1s;
  opacity: 0;
}

#exampleApple {
  margin-left: 8px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background-image: -o-radial-gradient(top right, circle, #c0ffdb, #79ffb3 60%);
  background-image: radial-gradient(circle at top right, #c0ffdb, #79ffb3 60%);
  -webkit-box-shadow: 0 0px 17px #79ffb3;
          box-shadow: 0 0px 17px #79ffb3;
}

#gameOverText {
  color: #ca0000;
  font-weight: bold;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#pressSpaceText {
  color: #2e7ecb;
  font-weight: bold;
}
