.section {
  height: 44vw;
  position: relative;
}

.overflowContainer {
  overflow: hidden;
}

.year {
  font-family: "Krisha";
  font-size: 55vw;
  font-weight: 800;
  margin: 0;
  line-height: 0.8;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 15px;
  -webkit-text-stroke-color: var(--text-color);
  text-shadow: 0 0 40px var(--text-shadow-color);
}