/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section {
  height: 44vw;
  position: relative;
  z-index: 3;
}

.overflowContainer {
  overflow-x: hidden;
}

.year {
  font-family: "Krisha", Arial, Helvetica, sans-serif;
  font-display: swap;
  font-size: 55vw;
  font-weight: 800;
  margin: 0;
  line-height: 0.8;
  padding: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1vw;
  -webkit-text-stroke-color: var(--text-color);
  text-shadow: 0 0 3vw var(--text-shadow-color);
}

@media screen and (max-width: 768px) {
  .year {
    text-shadow: 0 0 5px var(--text-shadow-color);
    -webkit-text-stroke-width: 3px;
  }
}